.cont-gen{
    height: auto;
}

.titulo-favs{
    text-align:start;
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-family: fantasy;
    color: black;
}
.cont-favs-card{
    justify-content: center;
}
.carta-favs {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 450px; 
    width: 220px;
    margin-bottom: 3rem;
    margin-right: 8px;
    border-radius: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.671);
    padding: 1rem;
    box-shadow: rgb(58, 136, 252, 0.5) 0px 7px 29px 0px;
    box-sizing: border-box;
}

.img-favs{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
    display: block;
    margin:8px auto;

}
.detalles-favs {
    flex-grow: 1;
    max-height: 200px; 
    overflow-y: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 4px;
}
.cont-favs-btn {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
}
.fav-favs {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1.5px solid #daab03;
    background-color: transparent;
    margin-left: 3rem;
    color: #daab03;
    transition: border-color 0.2s, box-shadow 0.2s, color 0.2s;
}

.fav-favs:hover {
    border-color: #daab03;
    box-shadow: 0 0 15px 2px #daab03;
}

.fav-favs:active {
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 0 15px 2px #ffffff;
}
.compra-favs{
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1.5px solid #248cdb;
    background-color: transparent;
    color:#248cdb;
    transition: border-color 0.2s, box-shadow 0.2s, color 0.2s;
}
.compra-favs:hover{
    border-color: #248cdb;
    box-shadow: 0 0 15px 2px #248cdb;
}
.compra-favs:active{
    border-color: #ffffff;
    color: #ffffff;
    box-shadow: 0 0 15px 2px #ffffff;
}

.youtube-favs{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid #f20d0d;
    background-color: transparent;
}
.cuerpo-favs {
    flex-grow: 1; 
    width: 100%;
    overflow: visible; 
}